{% extends 'base.html' %}
{% load static %}
{% block metadescription %}



       Welcome to ABC SCHOOL STORE where you can buy whatever you want....

{% endblock %}

{% block title %}
   ABC SCHOOL STORE
{% endblock %}
{% block content %}
<body style="background-color:whitesmoke;background-image:url({% static 'image/bg design.png' %}">
<header>
    <center>
        <br>
        <br>
    <img src="static/image/new.png" alt="logo" width="100px;" height="100px;">
        </center>
</header>
<center>
<h2 style="color: DarkSlateGray;"><b><i>

    <br>
    <br>
    ABC SCHOOL STORE </i></b>
</h2>
    <p style="font-family:Arial,sans-serif;">Everything you need,all in one place</p>
    </center>

</body>
{% endblock %}